/* Card Container */
.card-container {
    width: 100%;
    max-width: 360px;
    height:640px;
    margin: 0 auto;
    border-radius: 13px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #E2BC98;
  }
  
  /* Profile Section */
  .profile-section {
    position: relative;
    text-align: center;
    padding-top: 80px;
  }
  
  /* Background Image with Wavy Effect */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
  
  /* Profile Image */
  .profile-image {
    position: relative;
    margin-top: 5px;
    z-index: 1;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #E2BC98;
  }
  
  /* Verified Badge */
  .verified-badge {
    width: 25px;
    height: 25px;
    background-color: #B812B8;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 125px;
    top: 85px;
  }
  
  /* Name and Title */
  .name {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #A95B00;
  }
  
  .title {
    font-size: 15px;
    color: #666;
  }
  
  /* Menu Section */
  .menu-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 1px solid #eee;
  }
  
  .menu-button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f3f4f6;
    border: none;
    border-radius: 20px;
    color: #333;
  }
  
  .menu-button.active {
    background-color: #df4adf;
    color: #fff;
  }
  
  .menu-icons i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Links Section */
  .links-section {
    padding: 15px;
  }
  
  .link-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    background-color: #f3f4f6;
    border: none;
    border-radius: 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .link-button:hover {
    background-color: #df4adf;
    color: #fff;
  }
  
  /* change crad */
  .custom-modal-size {
    max-width: 50vw; /* 90% of the viewport width */
    height: 90vh;    /* 80% of the viewport height */
  }
  