body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/*navbar*/
.navbar {
  z-index: 1;
  background: linear-gradient(135deg, #520852 0%, #df4adf 100%) !important;
  border-bottom: 2px solid #df4adf;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 1rem;
}

.navbar-nav .nav-link.active {
  color: #f8f9fa !important; /* Highlight color for active link */
}

.navbar-nav .nav-link:hover {
  color: #df4adf !important; /* Hover color */
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: none !important; /* Optional: Remove default icon styling */
}

.navbar-collapse {
  align-items: center;
}

.form-control {
  border-radius: 5px;
  flex: 1;
}

.d-flex {
  display: flex;
  align-items: center;
}

.btn-outline-success {
  border: 2px solid #ffffff; 
  color: #ffffff; 
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem; 
  background-color: transparent; 
  transition: background-color 0.3s, color 0.3s; 
}

.btn-outline-success:hover {
  background-color: #520852; 
  color: #ffffff; 
  border-color: #520852; 
}


.me-2 {
  margin-right: 0.5rem; /* Adjust spacing between elements */
}


.dropdown-menu {
  background: #ffffff;
}

.dropdown-menu .dropdown-item {
  color: #520852;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-divider {
  border-color: #df4adf;
}








/*FAQ*/
/* Container for the accordion */
.accordion {
  width: 70%; /* Set width to 50% of the page width */
  margin: 30px auto; /* Center the accordion horizontally */
  border: 1px solid  #df4adf; /* Border color to match previous pages */
  border-radius: 10px; /* Rounded corners */
}

/* Accordion Header */
.accordion-button {
  background: linear-gradient(135deg, #520852 0%, #df4adf 100%); /* Dark purple background */
  color: white; /* White text */
  border: none; /* Remove default border */
  /*border-radius: 10px 10px 0 0; /* Rounded corners on top */
  font-size: 1rem; /* Adjust font size */
}

.accordion-button:not(.collapsed) {
  background: #df4adf; /* Lighter purple for active header */
  color: white; /* White text */
}

.accordion-button:hover {
  background-color: #6f0066; /* Darker purple on hover */
}

.accordion-body {
  background-color: #ffffff; /* White background for the body */
  color: #520852; /* Dark purple text */
  font-size: 0.875rem; /* Adjust font size */
  border-top: 2px solid #df4adf; /* Border to match previous pages */
}

/* Remove default margin on accordion items */
.accordion-item {
  margin-bottom: 0; /* Remove space between items */
}

/* Rounded corners for bottom of accordion */
.accordion-item:last-child .accordion-button {
  border-radius: 0 0 10px 10px; /* Rounded corners on bottom */
}




